html {
    background-color: rgb(4, 2, 14);
    color: white;
    body {
        header {
            text-align: center;
        }
        section {
            article {
                div {
                    width: 700px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    svg {
                        width: 90px;
                        height: 3px;
                    }
                    .svg-complete {
                        width: 200px;
                    }
                }
                form {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    input {
                        padding: 0.5rem;
                    }
                    div {
                        display: flex;
                        gap: 20px;
                        .btn {
                            padding: 0.5rem;
                        }
                        .add {
                            background-color: lightgreen;
                            border: none;
                            &:hover {
                                background-color: rgb(98, 161, 98);
                                cursor: pointer;
                            }
                        }
                        .random {
                            border: none;
                            background-color: lightblue;
                            &:hover {
                                background-color: rgb(123, 157, 169);
                                cursor: pointer;
                            }
                        }
                        .line {
                            border: none;
                            background-color: lightcoral;
                            &:hover {
                                background-color: rgb(153, 82, 82);
                                cursor: pointer;
                            }
                        }
                        .hexa {
                            border: none;
                            background-color: rgb(241, 7, 7);
                            color: white;
                            &:hover {
                                background-color: rgb(155, 3, 3);
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        #hexagramas {
            margin-top: 3rem;
            margin-left: 3rem;
            width: 10rem;
            display: flex;
            flex-direction: column;
            padding: 2rem;
            div {
                height: 40px;
                display: flex;
                flex-direction: row;
                align-items: center;
                svg {
                    width: 90px;
                    height: 3px;
                }
                #svg-complete {
                    width: 200px;
                }
            }
        }
    }
}