html {
  background-color: #04020e;
  color: white;
}

html body header {
  text-align: center;
}

html body section article div {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body section article div svg {
  width: 90px;
  height: 3px;
}

html body section article div .svg-complete {
  width: 200px;
}

html body section article form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

html body section article form input {
  padding: 0.5rem;
}

html body section article form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

html body section article form div .btn {
  padding: 0.5rem;
}

html body section article form div .add {
  background-color: lightgreen;
  border: none;
}

html body section article form div .add:hover {
  background-color: #62a162;
  cursor: pointer;
}

html body section article form div .random {
  border: none;
  background-color: lightblue;
}

html body section article form div .random:hover {
  background-color: #7b9da9;
  cursor: pointer;
}

html body section article form div .line {
  border: none;
  background-color: lightcoral;
}

html body section article form div .line:hover {
  background-color: #995252;
  cursor: pointer;
}

html body section article form div .hexa {
  border: none;
  background-color: #f10707;
  color: white;
}

html body section article form div .hexa:hover {
  background-color: #9b0303;
  cursor: pointer;
}

html body div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

html body div #hexagramas, html body div #hexagramas2 {
  margin-top: 3rem;
  margin-left: 3rem;
  width: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 2rem;
  height: auto;
  text-align: center;
}

html body div #hexagramas #parrafoname, html body div #hexagramas2 #parrafoname {
  font-size: 1.5rem;
}

html body div #hexagramas div, html body div #hexagramas2 div {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body div #hexagramas div svg, html body div #hexagramas2 div svg {
  width: 90px;
  height: 3px;
}

html body div #hexagramas div #svg-complete, html body div #hexagramas2 div #svg-complete {
  width: 200px;
}
<<<<<<< HEAD
/*# sourceMappingURL=estilos.css.map */


.color{
  animation-name: hex;
  animation-duration: 3s;
}

@keyframes hex {
  0%   {background-color:#7b9da9;}
  25%  {background-color:#677bce;}
  50%  {background-color:#2b5e94;}
  75%  {background-color:#345249;}
  100% {background-color:#7b9da9;}
}

.namep{
  animation-name: nombrehex;
  animation-duration: 3s;
}

@keyframes nombrehex {
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(1440deg);
  }
}

.namepborrar{
  animation-name: nombrehexborr;
  animation-duration: 3s;
}

@keyframes nombrehexborr {
  0% {
    transform: scale(0.9); 
  }
  100% {
    transform: scale(0.1);
  }
}

.colorborrar{
  animation-name: hexborr;
  animation-duration: 3s;
}

@keyframes hexborr {
  0%   {background-color:red;}
  25%  {background-color:yellow;}
  50%  {background-color:blue;}
  75%  {background-color:green;}
  100% {background-color:red;}
}

.tooltip{
  width: 250px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: red;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  left: 300px;
  bottom: 260px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.relleno{
  background-color: blue;
}
=======
/*# sourceMappingURL=estilos.css.map */
>>>>>>> 0ea46c7 (hexagrama final)
